body {
   margin: 5% 10%;
   line-height: 1.5em;
   text-align: justify;
}

nav {
   margin: 0px auto 2em auto;
   text-align: center;
}

nav > a {
   display: block;
   font: 50px Helvetica, sans-serif;
   text-decoration: none;
   color: grey;
   margin: 0px 9px;
}

ul > li {
   font-size: 25px;
   margin: 5px;
   padding: 5px;
}

li > a {
   text-decoration: none;
   color: #9c9a9a;
}

nav > a:hover, li > a:hover {
   text-decoration: underline;
}

h1 {
   text-align: center;
   padding: 5px;
   font: 80px Helvetica, sans-serif;
}

p {
   font-size: 25px;
   margin-top: 20px;
}

.spacer {
   text-align: center;
   font-size: 30px;
   font-weight: bold;
}

#current_page {
   color: #dbdbdb;
}

#back {
   position: fixed;
   right: 30px;
   bottom: 30px;
   font-size: 50px;
   padding: 10px;
   border-radius: 10px;
   border-style: solid;
   border-width: 5px;
   background-color: white;
}

#back > a {
   text-decoration: none;
   color: grey;
}
@media screen and (min-width: 990px) {
   body {
      margin: 5% 22%;
   }
   nav > a {
      font-size: 35px;
      display: inline-block;
      width: 100%;
   }
   p {
      font-size: 20px;
   }
   #back {
      display: none;
   }
}

